@import "normalize";

@import "bourbon/bourbon";
@import "base/base";

$header-color: #9FA803;

body {
	text-align: center;
}

h1 {
	margin: $base-spacing*2 0 $small-spacing;
	font-size: 2.25em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}

p {
	max-width: 780px;
	margin: 0 auto 1em;
}

.lead {
	font-size: 1.4em;
}

.visual-header {
	width: 100%;
	background-color: $header-color;
	background: linear-gradient($header-color, tint($header-color,40%));
	border-bottom: solid 1px $header-color;
	h2 {
		padding: $small-spacing /2;
		color: #fff;
		margin: 0;
		span {
			font-size: 0.8em;
		}
	}
}

.visual-footer {
	width: 100%;
	background-color: $header-color;
	background: linear-gradient(tint($header-color,40%), $header-color);
	border-top: solid 1px $header-color;
	color: #fff;
	p {
		padding: $small-spacing / 2;
		margin: 0 auto;
	}
}


footer {
	margin-top: 4*$base-spacing;
	font-size: modular-scale(-1);
}

.fa-fw {
	margin-right: 0.5em;
}

.center-list {
        display: inline-block;
        width: auto;
        margin: 0 auto;
        text-align: left;
}

